PORT=

DATABASE_URL=

BETTER_AUTH_SECRET=

# !!! CRITICAL: Must update this (Vercel server url) on production or cookies will vanish
# BASE_URL NO pathanme
BETTER_AUTH_URL=

# MUST Update once frontend is deployed
FRONTEND_URL=

SUPER_ADMIN_EMAIL=
SUPER_ADMIN_NAME=
SUPER_ADMIN_PASSWORD=

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=